# Node
NODE_ENV=production
PORT=3000
APP_URL=https://doecaopanhiabaltazar.com.br

# Supabase
SUPABASE_URL=https://piyztaabmkwuovqnljoy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpeXp0YWFibWt3dW92cW5sam95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMjQxNTEsImV4cCI6MjEwMjkwMDE1MX0.1Pj3POzqhcMVak2E-HYuCn9c9HWwdnPrTfZ_STkdXpU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpeXp0YWFibWt3dW92cW5sam95Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzMyNDE1MSwiZXhwIjoyMTAyOTAwMTUxfQ.MNfm8QnefpZ7BvvrM7BP2J_9dIn5T2mCeY1rZnERIWQ

# MercosulPay
MERCOSULPAY_API_URL=https://mercosulpay.com/api/public/v1
MERCOSULPAY_API_KEY=otp_live_65ab411efcca4e75b5aee2768f27a96d036b3a3f
MERCOSULPAY_WEBHOOK_SECRET=whsec_a2742f04c3414d26812972db02cff36e3a5cd8f6f46e4711

# Pix Manual
MANUAL_PIX_KEY=21968053672
MANUAL_PIX_KEY_TYPE=phone
AUTOMATIC_PIX_MIN_AMOUNT=5.00
